@page "{id:int}"
@model SheduleMatchWeb.Pages.Clubs.President.AddResultToMatchModel
@{
}
<!DOCTYPE html>
<html>
<head>
    <title>Wszystkie Kluby</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/siteShow.css">
</head>
<form method="post"> 
    <body>

        <div class="container">
            <h1>Wszystkie Kluby</h1>
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Gospodarze</th>
                        <th>Typ drużyny</th>
                        <th>Goście</th>
                        <th>Typ drużyny</th>
                        <th>Data</th>
                        <th>Liczba bramek Gospodarze</th>
                        <th>Liczba bramek Goście</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>@Html.DisplayFor(modelItem => Model.MatchRequest.Sender.Club.Name)</td>
                        <td>@Html.DisplayFor(modelItem => Model.MatchRequest.Sender.Type)</td>
                        <td>@Html.DisplayFor(modelItem => Model.MatchRequest.Receiver.Club.Name)</td>
                        <td>@Html.DisplayFor(modelItem => Model.MatchRequest.Receiver.Type)</td>
                        <td>@Html.DisplayFor(modelItem => Model.MatchRequest.Date)</td>
                        <td>
                            <input type="number" name="GoalsHome" id="GoalsHome" asp-for="Match.GoalsHome">
                        </td>
                        <td>
                            <input type="number" name="GoalsAway" id="GoalsAway" asp-for="Match.GoalsAway">
                        </td>
                        <td>
                            <button type="submit" class="btn-primary">
                                Dodaj wynik
                            </button>
                            @*<a href="./AddResultToMatch/@Model.MatchRequest.Id" class="btn btn-primary">Dodaj wynik</a>*@
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </body>
</form>
</html>

