@page
@using Domain.Models.VievModel;
@model SheduleMatchWeb.Pages.Clubs.Coach.MatchesPlayedModel

<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rozegrane spotkania</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/siteShow.css">
    <style>
        /* Dodatkowy styl CSS dla strony */
        body {
            background-color: #f5f5f5;
        }


        /*h1 {
            color: #007bff;
        }*/

        thead {
            background-color: #007bff;
            color: #ffffff;
        }

        tbody tr:hover {
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
    <div class="container">
        <h1 class="text-center mb-4">Rozegrane spotkania</h1>
        @if (Model.Matches.Count == 0)
        {
            var model = new NoAvaliableData
                {
                    MessageTitle = "rozegranych meczów",
                    MessageContent1 = "Przepraszamy, ale nie masz rozegranych meczów.",
                    MessageContent2 = "Proszę zaplanować nowy mecz lub skontaktować się z administratorem."
                };
            @Html.Partial("_NoAvaliableData", model)
        }
        else
        {
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Gospodarze</th>
                        <th>Typ drużyny</th>
                        <th>Gole gospodarzy</th>
                        <th>Goście</th>
                        <th>Typ drużyny</th>
                        <th>Gole gości</th>
                        <th>Data rozpoczęcia meczu</th>
                        <th>Stadion</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Matches)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.BranchClubHome.Club.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchClubHome.Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.GoalsHome)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchClubAway.Club.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.BranchClubAway.Type)</td>
                            <td>@Html.DisplayFor(modelItem => item.GoalsAway)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateStart)</td>
                            @if (item.FootballPitchId == null)
                            {
                                <td>Brak rezerwacji</td>
                            }
                            else
                            {
                                <td>@Html.DisplayFor(modelItem => item.FootballPitch.Name)</td>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        }
    </div>

    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
</body>
</html>