@page
@using Domain.Models.VievModel;
@model SheduleMatchWeb.Pages.Clubs.ShowAllClubsModel
@{
}
@*<!DOCTYPE html>
<html>
<head>
    <title>Wszystkie Kluby</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/siteShow.css">
</head>
<body>*@
    @*@if(Model.Clubs.Count == 0)
    {
    <!DOCTYPE html>
        <html>
        <head>
            <title>Wszystkie Kluby</title>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
            <link rel="stylesheet" href="~/css/siteShow.css">
        </head>
        <body>
            <h1>Brak klubów</h1>
        @if (User.IsInRole("Admin"))
        {
            <a asp-page="./Admin/AddNewClub" class="btn btn-success">Dodaj nowy klub</a>
        }
        
        </body>
        </html>
    }*@
@if (Model.Clubs.Count == 0)
{
    var model = new NoAvaliableData { MessageTitle = "klubów", MessageContent1 = "Przepraszamy, ale aktualnie nie posiadamy żadnych klubów w bazie danych."};
    @Html.Partial("_NoAvaliableData", model)
    @if (User.IsInRole("Admin"))
    {
        <a asp-page="./Admin/AddNewClub" class="btn btn-success">Dodaj nowy klub</a>
    }
}
    else
    {
        <!DOCTYPE html>
<html>
<head>
    <title>Wszystkie Kluby</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/css/siteShow.css">
</head>
<body>
    
    <div class="container">
        <h1>Wszystkie Kluby</h1>
        <form method="post">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Nazwa</th>
                        <th>Data powstania klubu</th>
                        <th>Klasa rozgrywkowa</th>
                        <th>Zdjęcie</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model.Clubs)
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.Name)</td>
                            <td>@Html.DisplayFor(modelItem => item.DateCreated)</td>
                            <td>@Html.DisplayFor(modelItem => item.GameClass.Name)</td>
                            <td>
                                <img src="@item.FeaturedImageUrl" class="club-image" />
                            </td>
                            @if (User.IsInRole("Admin")@* || User.IsInRole("President")*@)
                            {
                                <td>
                                    <a href="./UpdateClub/@item.Id" class="btn btn-primary">Aktualizuj</a>
                                </td>
                                <td>
                                    <a href="./BranchClubs/ShowAllBranchesClub/@item.Id" class="btn btn-secondary">Pokaż wszystkie oddziały</a>
                                </td>
                            }
                        </tr>
                    }
                    
                </tbody>
            </table>
            @if (User.IsInRole("Admin"))
            {
                <a asp-page="./Admin/AddNewClub" class="btn btn-success">Dodaj nowy klub</a>
            }
        </form>
    </div>
</body>
    </html>
    }